body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:583px;
}
#u293 {
  position:absolute;
  left:152px;
  top:102px;
  width:988px;
  height:583px;
}
#u294 {
  position:absolute;
  left:2px;
  top:284px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
