body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-121px;
  width:996px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957 {
  position:absolute;
  left:121px;
  top:144px;
}
#u957_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:996px;
  height:271px;
  background-image:none;
}
#u957_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:0px;
  top:202px;
  width:244px;
  height:69px;
}
#u960 {
  position:absolute;
  left:2px;
  top:26px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:48px;
}
#u961 {
  position:absolute;
  left:6px;
  top:220px;
  width:208px;
  height:48px;
  color:#FFFFFF;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:752px;
  top:0px;
  width:244px;
  height:87px;
}
#u965 {
  position:absolute;
  left:2px;
  top:36px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:64px;
}
#u966 {
  position:absolute;
  left:770px;
  top:12px;
  width:208px;
  height:64px;
  color:#FFFFFF;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:106px;
  height:5px;
}
#u968 {
  position:absolute;
  left:649px;
  top:39px;
  width:103px;
  height:2px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:5px;
}
#u970 {
  position:absolute;
  left:244px;
  top:236px;
  width:85px;
  height:2px;
}
#u971 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  position:absolute;
  left:6px;
  top:78px;
  width:244px;
  height:69px;
}
#u974 {
  position:absolute;
  left:2px;
  top:26px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
}
#u975 {
  position:absolute;
  left:12px;
  top:96px;
  width:208px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:5px;
}
#u977 {
  position:absolute;
  left:250px;
  top:112px;
  width:85px;
  height:2px;
}
#u978 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  position:absolute;
  left:450px;
  top:663px;
  width:320px;
  height:49px;
}
#u980 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  position:absolute;
  left:449px;
  top:144px;
  width:320px;
  height:568px;
}
#u983 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:689px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:436px;
  top:97px;
  width:348px;
  height:689px;
}
#u985 {
  position:absolute;
  left:2px;
  top:336px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  position:absolute;
  left:552px;
  top:120px;
  width:115px;
  height:14px;
}
#u987 {
  position:absolute;
  left:2px;
  top:-1px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u988 {
  position:absolute;
  left:580px;
  top:722px;
  width:54px;
  height:54px;
}
#u989 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  position:absolute;
  left:706px;
  top:157px;
  width:1px;
  height:16px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:59px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u993 {
  position:absolute;
  left:450px;
  top:144px;
  width:320px;
  height:59px;
  color:#CC99CC;
}
#u994 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u995 {
  position:absolute;
  left:557px;
  top:175px;
  width:106px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u996 {
  position:absolute;
  left:2px;
  top:-1px;
  width:102px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u997 {
  position:absolute;
  left:450px;
  top:144px;
  width:320px;
  height:20px;
}
#u998 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u999 {
  position:absolute;
  left:450px;
  top:201px;
  width:320px;
  height:1px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u1001 {
  position:absolute;
  left:477px;
  top:667px;
  width:33px;
  height:31px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1003 {
  position:absolute;
  left:564px;
  top:667px;
  width:32px;
  height:32px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1005 {
  position:absolute;
  left:726px;
  top:667px;
  width:33px;
  height:33px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1007 {
  position:absolute;
  left:644px;
  top:665px;
  width:35px;
  height:35px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  position:absolute;
  left:480px;
  top:699px;
  width:29px;
  height:16px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1011 {
  position:absolute;
  left:565px;
  top:699px;
  width:29px;
  height:16px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1013 {
  position:absolute;
  left:650px;
  top:699px;
  width:29px;
  height:16px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  position:absolute;
  left:730px;
  top:699px;
  width:29px;
  height:16px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1017 {
  position:absolute;
  left:450px;
  top:161px;
  width:320px;
  height:551px;
  overflow:hidden;
}
#u1017_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:551px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1017_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:466px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:466px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:225px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  font-size:16px;
  color:#669999;
}
#u1021 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:280px;
  top:8px;
}
#u1022_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
  background-image:none;
}
#u1022_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
  visibility:hidden;
  background-image:none;
}
#u1022_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u1025 {
  position:absolute;
  left:3px;
  top:1px;
  width:25px;
  height:26px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027 {
  position:absolute;
  left:0px;
  top:41px;
}
#u1027_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:461px;
  background-image:none;
}
#u1027_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:461px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:461px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:222px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:461px;
  visibility:hidden;
  background-image:none;
}
#u1027_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:461px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:461px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:222px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
  overflow:hidden;
  visibility:hidden;
}
#u1032_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1032_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  font-size:16px;
  color:#669999;
}
#u1036 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1037 {
  position:absolute;
  left:16px;
  top:15px;
  width:14px;
  height:12px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:516px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:39px;
  width:320px;
  height:516px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:250px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:53px;
}
#u1041 {
  position:absolute;
  left:197px;
  top:265px;
  width:47px;
  height:53px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:18px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1043 {
  position:absolute;
  left:261px;
  top:265px;
  width:53px;
  height:53px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045 {
  position:absolute;
  left:0px;
  top:-4px;
  width:320px;
  height:556px;
  overflow:hidden;
  visibility:hidden;
}
#u1045_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:556px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1045_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:502px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:502px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:243px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  font-size:16px;
  color:#669999;
}
#u1049 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1050 {
  position:absolute;
  left:16px;
  top:15px;
  width:14px;
  height:12px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:510px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:41px;
  width:320px;
  height:510px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:247px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:561px;
  overflow:hidden;
  visibility:hidden;
}
#u1054_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:561px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1054_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:502px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:243px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  font-size:16px;
  color:#669999;
}
#u1058 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1059 {
  position:absolute;
  left:16px;
  top:15px;
  width:14px;
  height:12px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:41px;
  width:320px;
  height:520px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:252px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:126px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:51px;
  width:320px;
  height:126px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:55px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065 {
  position:absolute;
  left:470px;
  top:667px;
  width:48px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1066 {
  position:absolute;
  left:555px;
  top:667px;
  width:51px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1067 {
  position:absolute;
  left:634px;
  top:667px;
  width:58px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1068 {
  position:absolute;
  left:714px;
  top:663px;
  width:56px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
