body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:993px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:501px;
  top:94px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:102px;
  background:inherit;
  background-color:rgba(107, 107, 107, 0.0784313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u29 {
  position:absolute;
  left:501px;
  top:126px;
  width:475px;
  height:102px;
  font-size:16px;
  color:#666666;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:501px;
  top:311px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:501px;
  top:360px;
  width:497px;
  height:155px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
}
#u36 {
  position:absolute;
  left:131px;
  top:0px;
  width:361px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u38 {
  position:absolute;
  left:0px;
  top:30px;
  width:131px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
}
#u40 {
  position:absolute;
  left:131px;
  top:30px;
  width:361px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u42 {
  position:absolute;
  left:0px;
  top:60px;
  width:131px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
}
#u44 {
  position:absolute;
  left:131px;
  top:60px;
  width:361px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u46 {
  position:absolute;
  left:0px;
  top:90px;
  width:131px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
}
#u48 {
  position:absolute;
  left:131px;
  top:90px;
  width:361px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u50 {
  position:absolute;
  left:0px;
  top:120px;
  width:131px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
}
#u52 {
  position:absolute;
  left:131px;
  top:120px;
  width:361px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
