body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1459px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u295 {
  position:absolute;
  left:247px;
  top:48px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298 {
  position:absolute;
  left:247px;
  top:107px;
  width:287px;
  height:452px;
}
#u299 {
  position:absolute;
  left:2px;
  top:218px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  position:absolute;
  left:272px;
  top:140px;
  width:238px;
  height:364px;
}
#u301 {
  position:absolute;
  left:2px;
  top:174px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u302 {
  position:absolute;
  left:362px;
  top:119px;
  width:61px;
  height:11px;
}
#u303 {
  position:absolute;
  left:2px;
  top:-2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u304 {
  position:absolute;
  left:375px;
  top:514px;
  width:32px;
  height:32px;
}
#u305 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u306 {
  position:absolute;
  left:331px;
  top:321px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u308 {
  position:absolute;
  left:342px;
  top:580px;
  width:99px;
  height:18px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u311 {
  position:absolute;
  left:662px;
  top:107px;
  width:287px;
  height:452px;
}
#u312 {
  position:absolute;
  left:2px;
  top:218px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  position:absolute;
  left:687px;
  top:140px;
  width:238px;
  height:364px;
}
#u314 {
  position:absolute;
  left:2px;
  top:174px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  position:absolute;
  left:777px;
  top:119px;
  width:61px;
  height:11px;
}
#u316 {
  position:absolute;
  left:2px;
  top:-2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u317 {
  position:absolute;
  left:790px;
  top:514px;
  width:32px;
  height:32px;
}
#u318 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u319 {
  position:absolute;
  left:722px;
  top:580px;
  width:197px;
  height:18px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u322 {
  position:absolute;
  left:751px;
  top:428px;
  width:127px;
  height:32px;
  opacity:0.6;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u323 {
  position:absolute;
  left:8px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  position:absolute;
  left:1038px;
  top:107px;
  width:287px;
  height:452px;
}
#u326 {
  position:absolute;
  left:2px;
  top:218px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u327 {
  position:absolute;
  left:1063px;
  top:140px;
  width:238px;
  height:364px;
}
#u328 {
  position:absolute;
  left:2px;
  top:174px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  position:absolute;
  left:1153px;
  top:119px;
  width:61px;
  height:11px;
}
#u330 {
  position:absolute;
  left:2px;
  top:-2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u331 {
  position:absolute;
  left:1166px;
  top:514px;
  width:32px;
  height:32px;
}
#u332 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u333 {
  position:absolute;
  left:1111px;
  top:428px;
  width:160px;
  height:32px;
  opacity:0.6;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u334 {
  position:absolute;
  left:8px;
  top:7px;
  width:144px;
  white-space:nowrap;
}
#u335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u335 {
  position:absolute;
  left:1089px;
  top:580px;
  width:186px;
  height:18px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u336 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u337 {
  position:absolute;
  left:247px;
  top:919px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u338 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u339 {
  position:absolute;
  left:205px;
  top:43px;
  width:32px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u340 {
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u341 {
  position:absolute;
  left:205px;
  top:914px;
  width:32px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u342 {
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  word-wrap:break-word;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u344 {
  position:absolute;
  left:247px;
  top:1007px;
  width:287px;
  height:452px;
}
#u345 {
  position:absolute;
  left:2px;
  top:218px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:364px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  position:absolute;
  left:272px;
  top:1040px;
  width:238px;
  height:364px;
}
#u347 {
  position:absolute;
  left:2px;
  top:174px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u348 {
  position:absolute;
  left:362px;
  top:1019px;
  width:61px;
  height:11px;
}
#u349 {
  position:absolute;
  left:2px;
  top:-2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u350 {
  position:absolute;
  left:375px;
  top:1414px;
  width:32px;
  height:32px;
}
#u351 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  position:absolute;
  left:300px;
  top:1135px;
  width:182px;
  height:106px;
}
#u353 {
  position:absolute;
  left:2px;
  top:45px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:2px;
}
#u354 {
  position:absolute;
  left:300px;
  top:1209px;
  width:182px;
  height:1px;
}
#u355 {
  position:absolute;
  left:2px;
  top:-8px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u356 {
  position:absolute;
  left:391px;
  top:1209px;
  width:1px;
  height:32px;
}
#u357 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u358 {
  position:absolute;
  left:332px;
  top:1217px;
  width:29px;
  height:16px;
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u360 {
  position:absolute;
  left:421px;
  top:1217px;
  width:29px;
  height:16px;
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u362 {
  position:absolute;
  left:308px;
  top:1148px;
  width:170px;
  height:48px;
}
#u363 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u365 {
  position:absolute;
  left:687px;
  top:1007px;
  width:287px;
  height:452px;
}
#u366 {
  position:absolute;
  left:2px;
  top:218px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:364px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u367 {
  position:absolute;
  left:712px;
  top:1040px;
  width:238px;
  height:364px;
}
#u368 {
  position:absolute;
  left:2px;
  top:174px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369 {
  position:absolute;
  left:802px;
  top:1019px;
  width:61px;
  height:11px;
}
#u370 {
  position:absolute;
  left:2px;
  top:-2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u371 {
  position:absolute;
  left:815px;
  top:1414px;
  width:32px;
  height:32px;
}
#u372 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u373 {
  position:absolute;
  left:740px;
  top:1135px;
  width:182px;
  height:106px;
}
#u374 {
  position:absolute;
  left:2px;
  top:45px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:2px;
}
#u375 {
  position:absolute;
  left:740px;
  top:1209px;
  width:182px;
  height:1px;
}
#u376 {
  position:absolute;
  left:2px;
  top:-8px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u377 {
  position:absolute;
  left:831px;
  top:1209px;
  width:1px;
  height:32px;
}
#u378 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u379 {
  position:absolute;
  left:773px;
  top:1217px;
  width:29px;
  height:16px;
}
#u380 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u381 {
  position:absolute;
  left:851px;
  top:1217px;
  width:57px;
  height:16px;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u383 {
  position:absolute;
  left:755px;
  top:1144px;
  width:155px;
  height:32px;
}
#u384 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u385_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u385 {
  position:absolute;
  left:585px;
  top:1149px;
  width:30px;
  height:30px;
}
#u386 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u387_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u387 {
  position:absolute;
  left:1005px;
  top:1210px;
  width:30px;
  height:30px;
}
#u388 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  position:absolute;
  left:687px;
  top:1484px;
  width:309px;
  height:16px;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  position:absolute;
  left:275px;
  top:1484px;
  width:225px;
  height:16px;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u393_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:5px;
}
#u393 {
  position:absolute;
  left:492px;
  top:1164px;
  width:83px;
  height:2px;
}
#u394 {
  position:absolute;
  left:2px;
  top:-7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:5px;
}
#u395 {
  position:absolute;
  left:912px;
  top:1224px;
  width:83px;
  height:2px;
}
#u396 {
  position:absolute;
  left:2px;
  top:-7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u397 {
  position:absolute;
  left:269px;
  top:1540px;
  width:30px;
  height:30px;
}
#u398 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  position:absolute;
  left:319px;
  top:1547px;
  width:145px;
  height:80px;
}
#u400 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u401_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u401 {
  position:absolute;
  left:554px;
  top:1540px;
  width:30px;
  height:30px;
}
#u402 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u403 {
  position:absolute;
  left:619px;
  top:1547px;
  width:213px;
  height:80px;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u405 {
  position:absolute;
  left:205px;
  top:1687px;
  width:32px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u406 {
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  word-wrap:break-word;
}
#u407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u407 {
  position:absolute;
  left:252px;
  top:1694px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u408 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u409 {
  position:absolute;
  left:205px;
  top:1941px;
  width:32px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u410 {
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  word-wrap:break-word;
}
#u411 {
  position:absolute;
  left:252px;
  top:1754px;
  width:294px;
  height:105px;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u413 {
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u414 {
  position:absolute;
  left:175px;
  top:0px;
  width:114px;
  height:40px;
}
#u415 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u416 {
  position:absolute;
  left:0px;
  top:40px;
  width:175px;
  height:30px;
}
#u417 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u418 {
  position:absolute;
  left:175px;
  top:40px;
  width:114px;
  height:30px;
}
#u419 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u420 {
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:30px;
}
#u421 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u422 {
  position:absolute;
  left:175px;
  top:70px;
  width:114px;
  height:30px;
}
#u423 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u424 {
  position:absolute;
  left:247px;
  top:1946px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u426 {
  position:absolute;
  left:247px;
  top:2007px;
  width:346px;
  height:171px;
}
#u427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u427 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u428 {
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u429 {
  position:absolute;
  left:175px;
  top:0px;
  width:166px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u430 {
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:36px;
}
#u431 {
  position:absolute;
  left:0px;
  top:40px;
  width:175px;
  height:36px;
}
#u432 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u433 {
  position:absolute;
  left:175px;
  top:40px;
  width:166px;
  height:36px;
}
#u434 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u435 {
  position:absolute;
  left:0px;
  top:76px;
  width:175px;
  height:30px;
}
#u436 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u437 {
  position:absolute;
  left:175px;
  top:76px;
  width:166px;
  height:30px;
}
#u438 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u439 {
  position:absolute;
  left:0px;
  top:106px;
  width:175px;
  height:30px;
}
#u440 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u441 {
  position:absolute;
  left:175px;
  top:106px;
  width:166px;
  height:30px;
}
#u442 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u443 {
  position:absolute;
  left:0px;
  top:136px;
  width:175px;
  height:30px;
}
#u444 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u445 {
  position:absolute;
  left:175px;
  top:136px;
  width:166px;
  height:30px;
}
#u446 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u447 {
  position:absolute;
  left:572px;
  top:279px;
  width:30px;
  height:30px;
}
#u448 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u449_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:5px;
}
#u449 {
  position:absolute;
  left:479px;
  top:293px;
  width:83px;
  height:2px;
}
#u450 {
  position:absolute;
  left:2px;
  top:-7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u451 {
  position:absolute;
  left:572px;
  top:400px;
  width:30px;
  height:30px;
}
#u452 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:5px;
}
#u453 {
  position:absolute;
  left:479px;
  top:414px;
  width:83px;
  height:2px;
}
#u454 {
  position:absolute;
  left:2px;
  top:-7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u455 {
  position:absolute;
  left:987px;
  top:414px;
  width:30px;
  height:30px;
}
#u456 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:5px;
}
#u457 {
  position:absolute;
  left:904px;
  top:428px;
  width:83px;
  height:2px;
}
#u458 {
  position:absolute;
  left:2px;
  top:-7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u459 {
  position:absolute;
  left:1374px;
  top:428px;
  width:30px;
  height:30px;
}
#u460 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:5px;
}
#u461 {
  position:absolute;
  left:1281px;
  top:443px;
  width:83px;
  height:2px;
}
#u462 {
  position:absolute;
  left:2px;
  top:-7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u463 {
  position:absolute;
  left:272px;
  top:632px;
  width:30px;
  height:30px;
}
#u464 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u465 {
  position:absolute;
  left:319px;
  top:639px;
  width:27px;
  height:16px;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u467 {
  position:absolute;
  left:319px;
  top:665px;
  width:118px;
  height:16px;
}
#u468 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u469_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u469 {
  position:absolute;
  left:272px;
  top:750px;
  width:30px;
  height:30px;
}
#u470 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u471 {
  position:absolute;
  left:319px;
  top:757px;
  width:53px;
  height:16px;
}
#u472 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
}
#u473 {
  position:absolute;
  left:319px;
  top:783px;
  width:300px;
  height:96px;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u475_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u475 {
  position:absolute;
  left:698px;
  top:632px;
  width:30px;
  height:30px;
}
#u476 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u477 {
  position:absolute;
  left:698px;
  top:755px;
  width:30px;
  height:30px;
}
#u478 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u479 {
  position:absolute;
  left:751px;
  top:639px;
  width:125px;
  height:16px;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u481 {
  position:absolute;
  left:751px;
  top:762px;
  width:66px;
  height:16px;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u483 {
  position:absolute;
  left:751px;
  top:792px;
  width:300px;
  height:80px;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u485 {
  position:absolute;
  left:751px;
  top:665px;
  width:300px;
  height:80px;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u487_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u487 {
  position:absolute;
  left:1111px;
  top:632px;
  width:30px;
  height:30px;
}
#u488 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u489 {
  position:absolute;
  left:1159px;
  top:639px;
  width:86px;
  height:16px;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u491 {
  position:absolute;
  left:1159px;
  top:664px;
  width:300px;
  height:80px;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u493 {
  position:absolute;
  left:361px;
  top:253px;
  width:60px;
  height:60px;
}
#u494 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
}
#u495 {
  position:absolute;
  left:307px;
  top:361px;
  width:169px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:center;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u497 {
  position:absolute;
  left:331px;
  top:400px;
  width:131px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u498 {
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  word-wrap:break-word;
}
#u499 {
  position:absolute;
  left:759px;
  top:1184px;
  width:122px;
  height:16px;
}
#u500 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u499_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
